html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

b {
    text-decoration: underline;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2em
    }

    .screenshot-frame {
        display: flex;
        justify-content: center;
    }
}


/* NAVIGATION BAR */
nav {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: #a8edfe 0 0 10px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.navbar-logo {
    height: 50px;
    width: 50px;
    margin: 8px 0;
    border-radius: 8px;
}

#navbar-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    display: inline;
}

.navbar-item a {
    padding: 8px;
    text-decoration: none;
    color: black;
}

.navbar-item a:hover {
    text-decoration: underline;
}

.download-button {
    background-color: #a8edfe;
    border-radius: 8px;
}

#ham-menu {
    margin: 8px 0;
    display: none;
}

@media only screen and (max-width: 500px) {
    #ham-menu {
        display: block;
    }

    #navbar-items {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 2em;
        text-align: center;
        margin-bottom: 2em;
    }

    .show {
        display: flex !important;
    }
}


/* HEADER */
header {
    height: 80vh;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    background-color: #a8edfe;
}

.header-text {
    text-align: center;
    padding-top: 100px;
    max-width: 400px;
}

.header-screenshot {
    height: 70vh;
    aspect-ratio: 9 / 19.5;
}

.download-button img{
    width: 200px;
}

@media only screen and (max-width: 500px) {
    header {
        height: auto;
    }

    .header {
        flex-direction: column;
        gap: 0px;
    }

    .header-text {
        padding: 0;
        margin: auto;
    }
}


/* FEATURES */
section {
    padding-top: 70px;
    margin-top: 100px;
}

.main-feature {
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1120px;
}

.main-feature h3 {
    margin: 1em auto;
}

.main-feature-content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.main-feature-text {
    padding-top: 10px;
    width: 500px;
}

.feature-screenshot {
    height: 500px;
}

.feature {
    text-align: center; 
    width: 550px;  
}

.other-features{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.two-column-list {
    columns: 2;
}


@media only screen and (max-width: 500px) {
    .other-features {
        flex-direction: column;
    }

    .feature {
        width: 100%
    }

    .feature div {
        width: 80%;
        margin: auto;
    }

    .main-feature-content {
        flex-direction: column;
        gap: 0;
    }
    
    .main-feature-text {
        width: 80%;
        padding: 0;
        margin: auto;
    }

    .main-feature h3 {
        text-align: center;
    }
}


/* REVIEWS */
.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    text-align: center;
}

.user-reviews {
    margin: 2em auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.user-reviews p {
    border: #a8edfe solid 1px;
    border-radius: 2em;
    box-shadow: #a8edfe 0 0 5px 0;
    padding: 1em;
    width: 300px;
}

.reviews-link {
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .stats {
        flex-wrap: wrap;
        gap: 3em;
    }

    .stats div {
        width: 100%;
    }

    .user-reviews {
        gap: 0.5em;
    }
}


/* PRIVACY POLICY */
.privacy-text {
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 500px) {
    .privacy-text {
        width: 80%;
    }
}


/* ABOUT ME */
.bio {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.profile-pic {
    width: 300px;
    border: #a8edfe solid 1px;
    border-radius: 2em;
    box-shadow: #a8edfe 0 0 5px 5px;
    margin-top: 10px;
}

.bio-text {
    max-width: 500px;
}

@media only screen and (max-width: 500px) {
    .bio {
        width: 80%;
        flex-direction: column;
        gap: auto;
    }
}


 /* DONATE */
 .donation-content {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }

.donation-options {
    display: flex;
    gap: 2em;
    margin-top: 1em;
}

 .donation-options a {
    text-decoration: none;
 }

 .donation-icon {
    height: 100px;
    width: 100px;
 }

 @media only screen and (max-width: 500px) {
    .donation-content {
        width: 80%;
    }
}


/* FOOTER */
footer p {
    text-align: center;
    background-color: #a8edfe;
    margin: 0 auto;
    padding: 20px;
}