---
import DynamicDownloadButton from './DynamicDownloadButton';
import { CAMPAIGN_IDS } from "../constants";

const { url = `https://apps.apple.com/app/apple-store/id1412627381?pt=119166549&ct=${CAMPAIGN_IDS.WEBSITE}&mt=8&platform=iphone` } = Astro.props;
---

<DynamicDownloadButton client:only="react">
    <a slot="fallback" href={url}>Download</a>
</DynamicDownloadButton>

<style>
    a {
        padding: 8px;
        text-decoration: none;
        background-color: var(--color-app);
        border-radius: 8px;
        color: black
    }
</style>