---
import { Image } from 'astro:assets';
import qrCodeView from '../images/views/qrcode_view.png';
import DownloadBadge from './DownloadBadge';
---

<header class="header">
    <div class="header-text">
        <h1>QR Me - Contact</h1>
        <p>Quickly and easily share your contact information with a QR Code</p>
        <div>
			<DownloadBadge platform="ios" client:only="react" />
			<DownloadBadge platform="android" client:only="react" />
        </div>
    </div>
    <div class="screenshot-frame">
        <Image 
            class="header-screenshot" 
            src={qrCodeView}
            alt="Screenshot of QR Me Contact's homepage displaying a QR Code and a user's contact information"
			loading="eager"
			fetchpriority="high"
        />
    </div>
</header>

<style>
    header {
		height: 80vh;
		margin: auto;
	}

	.header {
		display: flex;
		flex-direction: row;
		gap: 100px;
		justify-content: center;
		background-color: var(--color-app);
	}

	.header-text {
		text-align: center;
		padding-top: 100px;
		max-width: 400px;
	}

	.header-text h1 {
		margin: 0.75em 0 0 0;
	}

	.header-text p {
		margin: 1.75em 0 2em 0 ;
		text-wrap: balance;
	}

	.screenshot-frame {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 2em;
	}

	.header-screenshot {
		height: 70vh;
		width: auto;
		aspect-ratio: auto;
	}

	@media only screen and (max-width: 500px) {
		header {
			height: auto;
		}

		.header {
			flex-direction: column;
			gap: 0px;
		}

		.header-text {
			padding: 0;
			margin: auto;
		}
	}
</style>